@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
html {
  height: 100%;
  background-image: url('./img/space2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'DungGeunMo';
}

body {
	display: flex;
	justify-content: center;
}
a {
	color:black;
	text-decoration: none;
	display:block;
}
a:visitied {
	color: black;
}
ul {
	list-style: none;
	padding-left: 0px;

}

li {
	padding: 2rem;
	margin: 1rem;
	font-size: 1.5rem;
	background-color: rgb(55, 52, 223);
	
	
}
li:hover {
	background-color: rgba(119, 119, 119, 0.3);
}
#wrap {
	width: 80%;
	height:90%;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);	
	margin: 0px;
}

p {
	text-align: center;
}

input {
	background-color: #5354f3;
	font-family: 'DungGeunMo';
	border: none;
	padding: 0.3rem;
	text-align: center;
	cursor: pointer;
	right: 10%;
}